table {
    border-bottom:1px solid black;
    border-right: 1px solid black;
    border-top:1px solid gray;
    border-left: 1px solid gray;
}
tr, td {
    border-top:1px solid black;
    border-left: 1px solid black;
    border-bottom:1px solid gray;
    border-right: 1px solid gray;

}
.one {
    font-weight: 700;
    align: center;
}
.two {
    align: left;
}