.class1 {
    padding: 0px 30px 0px 0px;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    width: 500px;
    height: 250px;
}
.class2 {
    padding: 0px;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px;
    width: 70px;
    height: 60px;
}
.class3 {
    padding: 30px;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px 0px 0px 50px;
    width: 150px;
    height: 60px;
}
.class4 {
    float: left;
    border: 1px solid black;
    border-radius: 0px;
    margin: 50px 50px 50px 50px;
    width: 30px;
    height: 30px;
}