@font-face {
    font-family: Roboto-light;
    src: url(fonts/Roboto-light.ttf);
}

@font-face {
    font-family:  Roboto-regular;
    src: url(fonts/Roboto-regular.ttf);
}

@font-face {
    font-family: Citrica Cyrillic;
    src: url(fonts/Citrica Cyrillic.ttf);
}

.one {
    font-family: Roboto-light;
}

.two {
    font-family:  Roboto-regular;
}

.three {
    font-family: Citrica Cyrillic;
}