table {
    text-align: center;
    border: 2px solid white;
    margin: auto;
}

.header {
    background: gainsboro;
}
.container1 {
     background: #ffbe93;

 }
.container2 {
    background: blueviolet ;

}
.container3 {
    background: #c0494e;

}
.container4 {
    background: darkslateblue;

}


